
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --navbar-height: 60px;
}
.dark-theme {
     --main-color: #000000;
     --primary-color: #ffff;
     --dark-text-color: #f1f1f1;
     --light-text-color: #e5e5e5;
     --primary-color-icon: invert(88%) sepia(88%) saturate(1%) hue-rotate(185deg) brightness(110%) contrast(97%);
     --navbar-shadow-color: #242424;
     --navbar-border-color: #242424;
     --navbar-background-blur: rgba(15, 15, 15, 0.8);
     --box-color: #1d1d1d;
     --input-text-color: #f3f3f3;
 }
 
 .light-theme {
     --main-color: #fff;
     --primary-color: #424242; 
     --dark-text-color: #424242;
     --light-text-color: #555555;
     --navbar-shadow-color: #d3d3d3;
     --primary-color-icon: invert(21%) sepia(0%) saturate(0%) hue-rotate(343deg) brightness(98%) contrast(83%);
     --navbar-border-color: #e1e1e1;

     --navbar-background-blur: rgba(239, 239, 239, 0.8);

     --box-color: #f3f3f3;

     --input-text-color: #0e0e0e;


 }
 

 .icon{
     filter: var(--primary-color-icon)
 }

 body{
     background-color: var(--main-color);
        transition: background-color 0.5s ease-in-out;
 }
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Inter', sans-serif;
     scroll-behavior: smooth;
}

/* section {
     scroll-margin-top: 80px;
} */

